/*
    Document   : roblib_search_evergreen
    Created on : Apr 11, 2013, 2:27:50 PM
    Author     : ppound
    Description:
        Purpose of the stylesheet follows.
*/


.solr-site-results {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin-right: 5px;
  width: 100%;
}


.roblib-solr-bundle {
  font-weight: lighter;
  color: gray;
}



