
.solr-site-results {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  margin-right: 5px;
  width: 100%;
}


.roblib-solr-bundle {
  font-weight: lighter;
  color: gray;
}

.roblib-solr-more-results {
  text-align: center;
  background-color: lightblue;
}



