/* 
    Document   : roblib_search_evergreen
    Created on : Apr 11, 2013, 2:27:50 PM
    Author     : ppound
    Description:
        Purpose of the stylesheet follows.
*/

 .islandscholar-citation{
    font-size: smaller;
 }
.islandscholar-hostTitle{
    font-size: smaller;
}
.islandscholar-author, .islandscholar-genre, .islandscholar-volume{
    padding-left: 10px; font-size: smaller;
}

.islandscholar-label {
    padding-left: 10px; font-size: smaller; font-weight: bolder;
}